h3{
    margin:0;
}
form {
    width: 70%;
    margin: 0 auto;
}
ul {
    list-style-type:none;
    width:95%;
    padding:10px;
    float:left;
    background: #f0f0f0;
    border: 1px solid #eee;
}
li {
    width:100%;
    float:left;
    margin:10px 0px;
}
li label {
    width: 40%;
    float: left;
}

.submit {
    padding: 5px;
    color:#fff;
    background-color: green;
}

.reset {
    padding: 5px;
    color:#000;
    background-color: orange;
}

ul.table {
    width:60%;
    background-color: #fff;

}

ul.table li {
    margin:10px;
    border-bottom:1px solid #ddd;
}

ul.table li span {
    float:left;
}

ul.table li.header {
    font-weight: bold;
    background:#eee;

}